.about-us {
  padding: 50px 0;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 80px;
}

.section-title-block {
  margin-bottom: 60px;
}

.section-title {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-alt);
}

.section-paragraph {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.box {
  background-color: var(--background-color-alt);
  padding: 30px;
  border-radius: 8px;
  flex: 1;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.box-img {
  height: 94px;
}

.box-title {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

.box-paragraph {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-color);
}

/* servicesSection */
.servicesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #192024;
  padding: 50px 0;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 80px;
  color: white;
  padding: 79.78px 0;
}

.service-boxes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 35px;
}

.service-box {
  max-width: 430px;
  height: auto;
}
.tab-section-img,
.service-box-img {
  width: 100%;
  height: auto;
}

.tab-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.tab-btn {
  width: 196px;
  color: white;
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background: var(--text-color);
  border-radius: 4px;
}

.tab-btn:active {
  background: var(--primary-color);
}

.tab-section-desc {
  margin: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.tab-title-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  max-width: 685px;
  text-align: center;
}

.tab-paragraph {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-color);
}
